<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> User Profile
        
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="tab" href="#list-home" role="tab" aria-controls="list-home" aria-selected="true">Profile</a>
              <a class="list-group-item list-group-item-action active" id="list-profile-list" data-toggle="tab" href="#list-profile" role="tab" aria-controls="list-profile" aria-selected="false">Change Password</a>
            </div>
          </div>
          <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                  <div class="card-header ">
                      <i class="fa fa-user "></i>Update Profile 
                  </div>
                  <div class="card-body collapse show " id="collapseExample ">
                      <% if @profile && @profile.errors.any? %>
                        <div id="error_explanation">
                          <ul>
                            <% @profile.errors.full_messages.each do |msg| %>
                              <li><%= msg %></li>
                            <% end %>
                          </ul>
                        </div>
                      <% end %>
                      <%= form_with model: @profile, class: "form-horizontal ", local: true do |form| %>
                        
                        
                        <div class="form-group ">
                          <%= form.label :first_name, class: "col-form-label ", for: "appendedPrependedInput " %><br>
                          <div class="controls ">
                            <div class="input-prepend input-group ">
                              <%= form.text_field :first_name, placeholder: "First Name", class: "form-control " %>
                            </div>
                          </div>
                        </div>
                        <div class="form-group ">
                          <%= form.label :username, class: "col-form-label ", for: "appendedPrependedInput " %><br>
                          <div class="controls ">
                            <div class="input-prepend input-group ">
                              <%= form.text_field :last_name, placeholder: "Last Name", class: "form-control " %>
                            </div>
                          </div>
                        </div>
                        <div class="form-group ">
                          <%= form.label :avatar, class: "col-form-label ", for: "appendedPrependedInput " %><br>
                          <div class="controls ">
                            <div class="input-prepend input-group ">
                              <img src="<%= @profile.avatar ? @profile.avatar : "" %>" alt="Smiley face" height="100" width="100">
                               <%= form.file_field :picture %>
                            </div>
                          </div>
                        </div>
                        <div class="form-actions ">
                          <%= form.submit "Save changes", class: "btn btn-primary " %>
                        </div>
                      <% end %>
                    </div>
              </div>
              <div class="tab-pane fade active show" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    <div class="card-header ">
                      <i class="fa fa-key "></i>Change Password 
                    </div>
                    <div class="card-body collapse show " id="collapseExample ">
                      <% if @user && @user.errors.any? %>
                        <div id="error_explanation">
                          <ul>
                            <% @user.errors.full_messages.each do |msg| %>
                              <li><%= msg %></li>
                            <% end %>
                          </ul>
                        </div>
                      <% end %>
                      <%= form_for(@user, :url => { :action => "update_password" }, class: "form-horizontal " ) do |form| %>
                        
                        <div class="form-group ">
                          <%= form.label :current_password, class: "col-form-label ", for: "appendedPrependedInput " %><br>
                          <div class="controls ">
                            <div class="input-prepend input-group ">
                              <%= form.password_field :current_password, placeholder: "Current password", class: "form-control " %>
                            </div>
                          </div>
                        </div>

                        <div class="form-group ">
                          <%= form.label :password, class: "col-form-label ", for: "appendedPrependedInput " %><br>
                          <div class="controls ">
                            <div class="input-prepend input-group ">
                              <%= form.password_field :password, placeholder: "New password", class: "form-control " %>
                            </div>
                          </div>
                        </div>
                        
                        <div class="form-group ">
                          <%= form.label :password_confirmation, class: "col-form-label ", for: "appendedPrependedInput " %><br>
                          <div class="controls ">
                            <div class="input-prepend input-group ">
                              <%= form.password_field :password_confirmation, placeholder: "Password confirmation", class: "form-control " %>
                            </div>
                          </div>
                        </div>

                        <div class="form-actions ">
                          <%= form.submit "Save changes", class: "btn btn-primary " %>
                        </div>
                      <% end %>
                    </div>
                  
              </div>
              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :title, "Settings" %>