<div class="row ">
    <div class="col-lg-12 ">
      <div class="card ">
        <div class="card-header ">
          <i class="fa fa-edit "></i><%= form_name %>
          
        </div>
        <div class="card-body collapse show " id="collapseExample ">
          <% if @endpoint.errors.any? %>
            <div id="error_explanation">
              <ul>
                <% @endpoint.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%= form_with model: @endpoint, class: "form-horizontal ", local: true do |form| %>
            <div class="form-group ">
              <%= form.label :category_id, class: "col-form-label ", for: "prependedInput" %>
              <div class="controls ">
                <div class="input-prepend input-group "> 
                  <%= form.collection_select(:category_id, Category.all, :id, :name, {}, {:class => "form-control "}) %>
                </div>
                
              </div>
            </div>
            <div class="form-group ">
            
               <%= form.label :name, class: "col-form-label ", for: "appendedInput " %><br>
    
              <div class="controls ">
                <div class="input-group ">
                  <%= form.text_field :name, id: "appendedInput", class: "form-control " %>
                  
                </div>
                
              </div>
            </div>
            <div class="form-group ">
              <%= form.label :description, class: "col-form-label ", for: "appendedPrependedInput " %><br>
            
              <div class="controls ">
                <div class="input-prepend input-group ">
                  
                  <%= form.text_area :description, id: "appendedPrependedInput ", class: "form-control " %>
                  
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <%= form.label :path, class: "col-form-label " %><br>
                <div class="controls ">
                  <div class="input-group ">
                    <%= form.text_field :path, class: "form-control " %>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <%= form.label :port, class: "col-form-label " %><br>
                <div class="controls ">
                  <div class="input-group ">
                    <%= form.text_field :port, class: "form-control " %>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group ">
              <%= form.label :status, class: "col-form-label ", for: "prependedInput" %>
              <div class="controls ">
                <div class="input-prepend input-group "> 
                  <%= form.select(:status, [['ACTIVE', 'ACTIVE'], ['DEACTIVE', 'DEACTIVE']], {}, {:class => "form-control "}) %>
                </div>
              </div>
            </div>
            
            <div class="form-group ">
              <%= form.label :check_protocol, class: "col-form-label " %>
              <div class="controls ">
                <div class="input-prepend input-group "> 
                  <%= form.select(:check_protocol, [['PING', 'ping'], ['HTTP', 'http'], ['HTTPS', 'https'], ['SSL', 'ssl']], {}, {:class => "form-control ", :id => "endpoint-check-protocol"}) %>
                </div>
              </div>
            </div>
            <div class="row">
              <div id="element-check-extend-code-expect" class="form-group col-sm-6 d-none">
                  <%= form.label :http_code_expect, class: "col-form-label ", for: "appendedPrependedInput " %><br>
                  <div class="controls ">
                    <div class="input-prepend input-group ">
                      <input class="form-control " type="text" value="<%= @endpoint.check_extend.presence ? @endpoint.check_extend['http_code_expect'] : '' %>" name="endpoint[check_extend[http_code_expect]]" placeholder="200">
                    </div>
                  </div>
              </div>
              <div id="element-check-extend-body-include" class="form-group col-sm-6 d-none">
                  <%= form.label :http_body_include, class: "col-form-label ", for: "appendedPrependedInput " %><br>
                  <div class="controls ">
                    <div class="input-prepend input-group ">
                      <input class="form-control " type="text" value="<%= @endpoint.check_extend.presence ? @endpoint.check_extend['http_body_include'] : '' %>" name="endpoint[check_extend[http_body_include]]" placeholder=".login">
                    </div>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <%= form.label :check_timeout, class: "col-form-label " %><br>
                <div class="controls ">
                  <div class="input-group ">
                    <%= form.text_field :response_timeout, placeholder: 10, class: "form-control " %>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <%= form.label :check_interval, class: "col-form-label " %><br>
                <div class="controls ">
                  <div class="input-group ">
                    <%= form.text_field :check_interval, placeholder: 60, class: "form-control " %>
                  </div>
                </div>
              </div>
            </div>  
            <div class="row">
              <div class="form-group col-sm-6">
                <%= form.label :unhealthy_threshold, class: "col-form-label " %><br>
                <div class="controls ">
                  <div class="input-group ">
                    <%= form.text_field :unhealthy_threshold, placeholder: 2, class: "form-control " %>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <%= form.label :healthy_threshold, class: "col-form-label " %><br>
                <div class="controls ">
                  <div class="input-group ">
                    <%= form.text_field :healthy_threshold, placeholder: 3, class: "form-control " %>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group ">
            <%= form.label :enable_notification, class: "col-form-label " %><br>
            <label class="switch switch-default switch-primary">
              <%= form.check_box :enable_notification, class: "switch-input" %>
              <span class="switch-label"></span>
              <span class="switch-handle"></span>
            </label>
            </div>
            <div class="form-actions ">
              <%= form.submit "Save changes", class: "btn btn-primary " %>
              <%= link_to 'Cancel', endpoints_path , class: "btn btn-secondary ", "data-turbolinks": "false" %>
            </div>
          <% end %>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->