<h1>Listing endpoints</h1>
 
<%= link_to 'New endpoint', new_endpoint_path %>
<table>
  <tr>
    <th>Category</th>
    <th>Name</th>
    <th>Status</th>
    <th>Created At</th>
    <th>Updated At</th>
    <th>Created By</th>
    <th>Updated By</th>
  </tr>
 
  <% @endpoints.each do |endpoint| %>
    <tr>
      <td><%= endpoint.category_id %></td>
      <td><%= endpoint.name %></td>
      <td><%= endpoint.status %></td>
      <td><%= endpoint.created_at %></td>
      <td><%= endpoint.updated_at %></td>
      <td><%= endpoint.created_by %></td>
      <td><%= endpoint.updated_by %></td>
      <td><%= link_to 'Show', endpoint_path(endpoint) %></td>
     <td><%= link_to 'Edit', edit_endpoint_path(endpoint) %></td>
     <td><%= link_to 'Destroy', endpoint_path(endpoint),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>

    </tr>
  <% end %>
</table>