<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Endpoints Management
      </div>
      <div class="card-body">
        <table class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th class="text-center">Category</th>
              <th class="text-center">Name</th>
              <th class="text-center">Path</th>
              <th class="text-center">Port</th>
              <th class="text-center">Status</th>
              <th class="text-center">Created At</th>
              <th class="text-center">Updated At</th>
              <th class="text-center">Created By</th>
              <th class="text-center">Updated By</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
          <% @endpoints.each do |endpoint| %>
            <% if endpoint.status == 'ACTIVE' %>
              <% @color = 'success' %>
            <% end %>
            <% if endpoint.status == 'DEACTIVE' %>
              <% @color = 'danger' %>
            <% end %>
           
            <tr>
              <td class="text-center"><%= endpoint.category.name %></td>
              <td class="text-center"><%= endpoint.name %></td>
              <td class="text-center"><%= endpoint.path %></td>
              <td class="text-center"><%= endpoint.port %></td>
              <td class="text-center">
                <span class="badge badge-<%= @color %>"><%= endpoint.status %></span>
              </td>
              <td class="text-center"><%= endpoint.created_at %></td>
              <td class="text-center"><%= endpoint.updated_at %></td>
              <td class="text-center"><%= endpoint.creater.email %></td>
              <td class="text-center"><%= endpoint.updater.email  %></td>
              <td class="text-center">
                <%= link_to new_endpoint_path, class: "btn btn-success" do %>
                  <i class="fa fa-search-plus "></i>
                <% end %>
                
                <%= link_to edit_endpoint_path(endpoint), class: "btn btn-info" do %>
                  <i class="fa fa-edit "></i>
                <% end %>
                
                <%= link_to endpoint_path(endpoint),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do %>
                  <i class="fa fa-trash-o "></i>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <nav>
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#">Prev</a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>
<!--/.row-->


<% content_for :title, "Endpoint Management" %>