<p>
  <strong>Category:</strong>
  <%= @endpoint.category_id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @endpoint.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @endpoint.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @endpoint.status %>
</p>

<p>
  <strong>Created At:</strong>
  <%= @endpoint.created_at %>
</p>

<p>
  <strong>Created By:</strong>
  <%= @endpoint.created_by %>
</p>

<%= link_to 'Back', endpoints_path %>