<div class="row ">
    <div class="col-lg-12 ">
      <div class="card ">
        <div class="card-header ">
          <i class="fa fa-edit "></i><%= form_name %>
          
        </div>
        <div class="card-body collapse show " id="collapseExample ">
          <% if @category.errors.any? %>
            <div id="error_explanation">
              <ul>
                <% @category.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%= form_with model: @category, class: "form-horizontal ", local: true do |form| %>
            <div class="form-group ">
              <%= form.label :parent_id, class: "col-form-label ", for: "prependedInput" %>
              <div class="controls ">
                <div class="input-prepend input-group "> 
                  <%= form.collection_select(:parent_id, Category.all, :id, :name, {:include_blank => 'None Specified'}, {:class => "form-control "}) %>
                </div>
                
              </div>
            </div>
            <div class="form-group ">
            
               <%= form.label :name, class: "col-form-label ", for: "appendedInput " %><br>
    
              <div class="controls ">
                <div class="input-group ">
                  <%= form.text_field :name, id: "appendedInput", class: "form-control " %>
                  
                </div>
                
              </div>
            </div>
            <div class="form-group ">
              <%= form.label :description, class: "col-form-label ", for: "appendedPrependedInput " %><br>
            
              <div class="controls ">
                <div class="input-prepend input-group ">
                  <%= form.text_area :description, id: "appendedPrependedInput ", class: "form-control " %>
                </div>
              </div>
            </div>
            
            <div class="form-actions ">
              <%= form.submit "Save changes", class: "btn btn-primary " %>
              <%= link_to 'Cancel', categories_path , class: "btn btn-secondary ", "data-turbolinks": "false" %>
            </div>
          <% end %>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->